<h1>Admin Panel</h1>

<p>Total articles <%= Article.all.count %></p>
<p>Total articles <%= Article.where(browsed: false) %></p>

<% Source.all.each do |source| %>
    <div class="source-card">
        <%= source.name %>
    </div>
<% end %>


 