<%= turbo_frame_tag :modal do %>
  <div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd">
    <div class="container">
      <h1>New tag</h1>

      <%= render "form", tag: @tag %>

      <br>

      <div>
        <%= link_to "Cancel", tags_path, class: "btn-rounded " %>
      </div>

    </div>
  </div>
<% end %>