@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a:hover {
      /* @apply text-blue-600 underline; */
    }
    input,
    textarea {
      @apply bg-blue-400 p-2
    }
    [type=submit] {  }
    form {
      @apply inline
    }
  }
  
  
  
  
  @layer components {
      .logo-wrapper {
        display: block;
        position: sticky;
        width: min-content;
        left: 20px;
        top: 10px;
        font-family: 'Alfa Slab One', cursive;

        transition: ease all 150ms;
      }
      .logo {
        position: relative;
        width: 100%;
        font-size: 18px;
      }
      .logo:after {
        position: absolute;
        width: 100%;
        content: '';
        background-color: #7BAFE8;
        height: 3px;
        border-radius: 5px;
        bottom: 1px;
        left: 0;
        transition: ease all 500ms;
      }
      .logo-wrapper:hover {
        /* transform: translateY(2px); */
      }
      .logo-wrapper:hover .logo:after { 
        background-color: rgb(99, 102, 241);
      }

      .btn-primary {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
      }
      .btn-rounded {
        @apply inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out
      }
      .btn-tag {
        @apply inline-block px-6 py-2
        bg-orange-600
        border-4 border-purple-600
        text-purple-100 font-medium text-xs leading-tight uppercase rounded-full bg-slate-700 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out
      }
      .link-sm {
        @apply drop-shadow inline-block bg-slate-200 hover:bg-blue-200 px-5 py-2 rounded
        }
      .button-secondary {
        @apply bg-pink-100 hover:bg-purple-300
      }
      .btn {
        @apply rounded bg-indigo-100 px-8 py-3 drop-shadow ml-6
        cursor-pointer hover:outline-dashed hover:outline-1 hover:outline-offset-2 hover:outline-indigo-500
      }
      .scrape_btn,
      .update_tags_btn,
      .search_btn {
        @apply btn
      }
    }

    
    .article_body {
      padding: 2vw 0;
    }

    .article_body p {
      max-width: 52ch;
      font-size: 24px;
      margin: 0 auto 20px auto;
    }